.root {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
}

.geometric {
  width: 100%;
  height: 64px;
  order: -1;
  margin-bottom: 16px;
  background-image: url("@/shared/assets/images/geometric-mobile.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.content {
  background-color: var(--color-base-white);
}

.header {
  display: none;
}

.form {
  width: 100%;
  padding: 16px;
}

.logomark {
  margin-bottom: 24px;
}

.footer {
  display: none;
}

@media (min-width: 640px) {
  .root {
    flex-direction: row;
    justify-content: space-between;
  }

  .content {
    display: flex;
    min-width: 560px;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  .logomark {
    display: none;
  }

  .geometric {
    width: 100%;
    max-width: 768px;
    height: 100%;
    order: 1;
    margin-bottom: 0;
    background-image: url("@/shared/assets/images/geometric-desktop.svg");
  }

  .header {
    display: flex;
    align-self: self-start;
    padding: 32px;
  }

  .form {
    display: flex;
    max-width: 360px;
    flex-direction: column;
    padding: 32px;
  }

  .footer {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 32px;
  }

  .info {
    display: flex;
    align-items: center;
    color: var(--color-gray-500);
    font: var(--font-text-sm-regular);
  }

  .mail {
    width: 16px;
    height: 16px;
    margin-right: 8px;
  }
}
